server {

    listen 80;
    include /etc/nginx/conf.d/ping-test.nginx;

    location ~ ^/auth/ {
        set_by_lua $AUTH_CENTER 'return os.getenv("AUTH_CENTER")';

        include proxy_params;
        rewrite /auth/(.*) /$1  break;
        proxy_redirect     off;
        proxy_pass $AUTH_CENTER;
    }

    location / {
        set_by_lua $WEB_BACKEND 'return os.getenv("WEB_BACKEND")';
        content_by_lua_block {
            ngx.say(require("nginx-auth").check_auth())
        }

        default_type application/json;
        include proxy_params;
        proxy_pass $WEB_BACKEND;
    }
}
