server {

    listen 80;
    include /etc/nginx/conf.d/ping-test.nginx;

    location ~ ^/auth/ {
        set_by_lua $AUTH_CENTER 'return os.getenv("AUTH_CENTER")';

        rewrite /auth/(.*) /$1  break;
        #proxy_pass         http://localhost:3200;
        proxy_redirect     off;
        proxy_set_header   Host $host;
        #include proxy_params;
        proxy_pass $AUTH_CENTER;
    }

    location / {
        set_by_lua $WEB_BACKEND 'return os.getenv("WEB_BACKEND")';
        default_type application/json;
        include proxy_params;
        proxy_pass $WEB_BACKEND;
    }
}
